html{
    font-size:10px;
}

body{
   color:#777;
   /* font-size:16px; */
   box-sizing:border-box;
   margin:1rem;
   
   

}




.img {
    background-image: url(images/LoGin.png);
    background-size: cover;
    height:70vw;
    position:relative;

    
}


.center-div {
position:absolute;
width:30%;
background-color:whitesmoke;
font-weight: 2rem;
text-align: center;
font-size:1.4rem;
height:17rem;
top:30%;
left:50%;
line-height: 1.7;
transform: translate(-50%, -70%);
border-radius:1.5rem;
}

.image{
    width:8rem;
    margin-top:1rem
}

.center-div a {
    text-decoration: none;
    margin-right: 15px;
}


.last-container {
    background-color:dimgray;
    height:45vh;

}

.box-content {
    border:1px solid 0;
    width:40%;
    height:40%;
    display:flex;
    /* position:absolute;
    right:10px;
     */
     float: right;
     margin-top: 20px;
}

.box-content div {
    border:1px solid 0;
    width:42%;
    height:90%;
    display:inline-block; 
    padding:4px;

    box-sizing: border-box;
    
}

.box-content div p {
    color:whitesmoke;
    font-size: 1.3rem;
}

i {
    color:lightseagreen;
    margin-left: 10px;
    

}



.civic {
    position:relative;
    top:65px;
    left:80px;
    width:20%;
    height:80px;
}


.civic p {
    color:whitesmoke;
    margin-top:0px;
    margin-bottom: 6px;
    margin-left: 30px;
    padding: 0;
}


.civic #images {
    margin-left: 30px;
}


hr {
    width:inherit;
    margin-top:180px;
    background-color:dimgray;
}

#img {
    margin-left:100px;
}

.move {
    float:right;

    color:whitesmoke;
    margin:auto;
    margin-right: 150px;
    font-size:1.3rem;
}

 @media  screen and (max-width:1025px) {
    
   .move {
       margin-right:30px;
   }
        
    } 


@media  screen and (min-width:425px) and (max-width:765px) {
    
    .center-div {
        position:absolute;
        width:90%;
        background-color:whitesmoke;
        font-weight: 2rem;
        text-align: center;
        font-size:1.4rem;
        height:15rem;
        top:55%;
        left:50%;
        line-height: 1.7;
        transform: translate(-50%, -70%);
        border-radius:1.5rem;
        }

    .civic {
        top:15px;
        left:10px;
        width:30%;
    }

    .box-content div {
        width:50%;   
    }

    .box-content .first-box {
        margin-left:30px;
    }

    .box-content .second-box {
        margin-left:30px;
        width:55%;
    }

    .box-content {

        width:75%;
        height:40%;     
    }
    
    .move {
        margin-right:50px;
    }
         
     #img {
        margin-left: 20px;
     }

     .move {
        font-size:0.9rem;
        margin-right: 10px;
     }


 }


 @media  screen and (min-width:375px) and (max-width:422px) {
    
    .center-div {
        width:70%;
        top:55%;
        left:50%;
        
        }

        .civic {
            top:10%;
            left:10px;
            width:50%;
        }
   
    .move {
        margin-right:50px;
    }

    .box-content div {
        width:50%;   
    }

    .box-content .first-box {
        margin-left:30px;
    }

    .box-content .second-box {
        margin-left:30px;
        width:55%;
    }

    .box-content {

        width:75%;
        height:40%;     
    }
         
     #img {
        margin-left: 5px;
     }

     .move {
        font-size:0.8rem;
        margin-right: 10px;
     }

     hr {
        
        margin-top:180px;
        background-color:dimgray;
    }


 }

 @media screen and (min-width:310px) and (max-width:370px) {

    .center-div {
        width:60%;
        top:55%;
        left:50%;
        height:130px;
        }

        .civic {
            top:10%;
            left:10px;
            width:50%;
        }
   
  

    .box-content div {
        width:50%;   
    }

    .box-content .first-box {
        margin-left:10px;
        width:50%;
    }

    .box-content .second-box {
        margin-left:30px;
        width:45%;
    }

    .box-content {

        width:75%;
        height:40%;     
    }
         
     #img {
        margin-left: 5px;
        
     }

     .move {
        font-size:0.8rem;
        margin-right: 10px;
        margin-top: 17px;
     }

     hr {
        width:inherit;
        margin-top:200px;
        background-color:dimgray;
    }

    .last-container {
        background-color:dimgray;
    
    }


 }


 }